body {
  margin: 0;
  background: linear-gradient( #000000 , #636365 100%);


}


/* Header CSS */
.header-list {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;
}

.list-items {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  width: 100%;
  align-items: center; /* Center the items vertically */
}

.left {
  /* flex: 1; */
  text-align: left; /* Align AMD text to the left */
}

.centered {
  text-align: center; /* Center the second heading */
  flex: 2; /* Make the centered text occupy more space */
}

/* Home CSS */
.center-content {
  display: flex;
  justify-content: center; /* Centering the content */
  align-items: center; /* Optional: center vertically too */
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  /* height: 100vh;   */
  margin-top: 20px;
  /* gap: 20px; */
  /* background: linear-gradient(270deg, #000000 0%, #00788E 100%); */
}

/* Content 75% */
.content-left {
  /* flex: 0 0 75%; */
  
  /* background-color: lightblue; */
  /* padding: 20px; */
  box-sizing: border-box;
  margin-left: 10px;
}

/* Content 25% */
.content-right {
  /* flex: 0 0 25%; */
  /* background-color: lightcoral; */
  /* padding: 20px; */
  box-sizing: border-box;
  margin-left: 10px;
}
.four-parts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1;
  padding: 0;
  gap: 0px; /* Adds a 5px gap between each part */
  /* background: linear-gradient(270deg, #000000 0%, #00788E 100%); */

}

.part {
  cursor: pointer;
  /* flex: 1;  */
  padding: 5px; /* Remove internal padding */
  /* background-color: purple; */
  /* background: linear-gradient(350.44deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%); */

  box-sizing: border-box; /* Ensure padding and border are included in the element's total width/height */
}
.part.border{
  /* background: linear-gradient(134.53deg, rgba(0, 194, 222, 0.5) 0%, rgba(0, 120, 142, 0.5) 75.21%); */
  /* border: 1px solid;
  border-radius: 10px; */
  margin: 2px;
}



/* Card CSS */
.card{
  display: flex;
  /* border: 1px solid rgba(255, 255, 255, 1); */
  border-radius: 10px;
  justify-content: center;
  /* background: linear-gradient(to right, #00B1CA, #000F13) */

  /* background: linear-gradient(134.53deg, rgba(0, 194, 222, 0.5) 0%, rgba(0, 120, 142, 0.5) 75.21%); */
}

/* Footer CSS */
.footer-list{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;  
  margin-top: 10px;
}

/*  flex  */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.flex-start{
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}
.flex-center.column{
  flex-direction: column;
}

/* Sidebar Font */
.sidebar-font{
  font-size: 12px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;  /* Stack the content vertically on smaller screens */
    /* background: linear-gradient(270deg, #000000 0%, #00788E 100%); */
  }

  .content-right, .content-left {
    flex: none;  /* Reset flex for mobile layout */
    width: 100%; /* Full width on small screens */
  }
}
